@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
    background-color: aqua;
    font-family: 'Fira Code', monospace;
    text-align: center;
    margin-top: 10%;
    color: black;
}
#area{
    background-color: white;
    width: 500px;
    border-radius: 5%;
    margin: auto;
    padding: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.425);
}
button{
    border: none;
    width: 80px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(44, 74, 243);
    color: rgb(255, 248, 248);
    cursor: pointer;
}
button:hover{
    background-color: rgb(7, 218, 255);
    color: rgb(255, 255, 255);
    transition:  0.3s;
    height: 40px;
}
#input{
    border: 2px solid rgba(0, 0, 0, 0.281);
    border-radius: 5px;
    width: 189px;
}
#input::placeholder{
    color: rgb(0, 0, 0);
}
